* {
  font-family: "Segoe UI", sans-serif;
}

body {
    background: #283c86;
    background: -webkit-linear-gradient(to right, #45a247, #283c86);
    background: linear-gradient(to right, #45a247, #283c86); 
}

.container {
  margin: 3rem 9rem;
  border: none 1px;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 40rem;
  background-color: rgba(255, 255, 255, 0.555);
  
}

.heading {
  text-align: center;
}


.form-inputs {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

input {
  border-radius: 10px;
  border-color: teal;
  height: 1.5rem;
  width: 15rem;
  border: 1px solid #ccc;
}

label {
  font-weight: 500;
  font-size: 1rem;
}

.search {
  width: 60%;
  height: 30px;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

button {
  margin: 5px;
  padding: 6px 12px;
  border: none;
  background-color: teal;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(1, 89, 89);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #f9f9f9bc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li input[type="checkbox"] {
  margin: 0;
  width: 80px;
}

.bulk-btn {
    display: flex;
    gap: 0.5rem;
}

#yes {
    background-color: #a40101;
}