* {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-weight: 300;
    color: teal;
}

.form-inputs {
    display: flex;
    gap: 10px;
}

input {
    border-radius: 5px;
    border-color:teal;
}

button {
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}