.selectGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: 500;
  color: #404040;
  font-size: 1rem;
  margin:auto;
}

.selectWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
}

.select {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.8rem;
  transition: border-color 0.3s ease;
  outline: none;
  margin-top: 0rem;
}

.select:focus {
  border-color: #3f51b5;
}

.selectError {
  border-color: #d32f2f;
}

.error {
  color: #d32f2f;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  height: 1.2rem;
  line-height: 1.2rem;
}
