.formInputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  margin: 2rem 0;
}

.formInputs button {
  margin-bottom: 1.7rem;
  width: 120px;
  height: 45px;
  padding: 0.6rem 0.75rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formInputs button:hover {
  background-color: rgb(1, 89, 89);
}

@media (max-width: 1024px) {
  .formInputs {
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  .formInputs button {
    width: 100px;
    height: 28px;
    padding: 0 0.4rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .formInputs {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
  .formInputs button {
    flex: 1 1 auto;
    max-width: 70%;
    height: 32px;
    padding: 0.3rem;
    font-size: 0.85rem;
  }
}
@media (max-width: 480px) {

  .formInputs button {
    flex: 1 1 auto;
    max-width: 70%;
    height: 32px;
    padding: 0.3rem;
    font-size: 0.85rem;
  }
}
